<div class="modal fade" id="modalTaskToggle{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="modalTaskToggle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTaskToggle">Changer le statut d'une tâche</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Souhaitez-vous vraiment marquer {{ task.done ? "'Non effectuée'" : "'Effectuée'" }} la tâche <b>{{ task.title }}</b> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
        <a type="button" class="btn btn-primary" href="{{ path('task_toggle', {'id' : task.id }) }}">Oui</a>
      </div>
    </div>
  </div>
</div>